/breast_cancer_data.csv
/california.csv
/diabetes.csv
/iris_data.csv
/Label_Encoding.ipynb
/Magic.ipynb
/magic04.data
/magic04.names
/matplotlib_t.ipynb
/numpy_t.ipynb
/pandas_t.ipynb
/seaborn_t.ipynb
/standardization.ipynb